.dropdown {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	border: 1px solid #601404;
	height: 20px;
	color: #000000;
	background-color: #FFFFFF;
}
.textfield {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #00000;
	text-decoration: none;
	border: 1px solid #601404;
	text-transform:capitalize;
	height: 20px;
	border-radius:10px 10px 10px 10px;
	background-image:url(textfieldbg.jpg);
	padding-left:5px;
	padding-right:5px;
}
.blackbold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000;
	text-decoration: none;
}
.titlelink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFF;
	text-decoration: none;
	padding-left: 7px;
	padding-right: 7px;
}

.textarea {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #333;
	text-decoration: none;
	border: 1px solid #601404;
	height: auto;
	width: auto;
}
.bodytext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
	text-align: justify;
}
.maroonbold {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #8A0500;
	text-decoration: none;
}
.maroonboldsmall {



	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #8A0500;
	text-decoration: none;
}
.newstitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #8A0500;
	text-decoration: none;
	padding-left: 10px;
}
.newstext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
	text-align: justify;
	padding-left: 10px;
}
.viewmore {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #8A0500;
	text-decoration: none;
	padding-right: 10px;
}
.yellobold {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFF00;
	text-decoration: none;
}
.text {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
}
.smalltext {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.smalltextyello {



	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFF00;
	text-decoration: none;
}
.iconlink {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #653D00;
	text-decoration: none;
	padding-left: 10px;
}

.photogallery{
	border:0px solid #680100;
	border-radius:10px 10px 10px 10px;
	background-image:url(newsrow_bg.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #ffffff;
	text-decoration: none;
	padding-left:15px;
	padding-right:15px;
	height:25px;
	
}
.rowtitle{
	border:0px solid #680100;
	border-radius:10px 10px 10px 10px;
	background-image:url(searchrowtitle.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #ffffff;
	text-decoration: none;
	padding-left:15px;
	padding-right:15px;
	height:25px;
}
.rowtitle1{
	border:0px solid #680100;
	border-radius:10px 10px 10px 10px;
	background-image:url(searchrowtitle.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #ffffff;
	text-decoration: none;
	padding-left:15px;
	padding-right:15px;
}
.rowresult{
	border:0px solid #680100;
	border-radius:10px 10px 10px 10px;
	background-image:url(searchresults.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
	padding-left:15px;
	padding-right:15px;
	height:25px;
}
.class_box_shadow{
    margin: auto;
    border: 0px solid white;
    position:relative;
    box-shadow: 2px 4px 23px rgba(0, 0, 0, 0.59);
   }
.shadowbox{
	margin: auto;
	border: 2px solid #601404;
	position:relative;
	box-shadow: 2px 4px 23px rgba(0, 0, 0, 0.59);
   }
   .ul { margin: 0; padding: 0; width:100%; padding: 0 0 20px 10px; }
			.ul li { margin: 10px 0 25px 25px; padding: 0; list-style: none;}
			
			.jqcNode { font-weight: bold; color: black; height:25px; width:650px; 	border:0px solid #680100;
	border-radius:10px 10px 10px 10px;
	background-image:url(newsrow_bg.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #ffffff;
	text-decoration: none;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	padding-bottom:10px;
	width:100%;
	height:25px; }
	
	.active3{
	border:0px solid #601404;
	border-radius:0px 0px 15px 15px;
	background:#601404;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #ffffff;
	text-decoration: none;
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:5px;
	height:25px;
}
	.active4{
	border:0px solid #601404;
	border-radius:15px 15px 0px 0px;
	background:#601404;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #ffffff;
	text-decoration: none;
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:5px;

	height:25px;
}
.searchbutton {

	border:0px solid #680100;
	border-radius:3px 3px 3px 3px;
	background-color:#601404;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #ffffff;
	text-decoration: none;
	padding-left:15px;
	padding-right:15px;
	height:25px;
}
