/* rotator in-page placement */
        div.rotator {
	position:relative;
	/*height:345px;*/
        display:none;
}
/* rotator css */
	div.rotator ul {
	margin:0;
	padding:0;
}
	div.rotator ul li {
	float:left;
	position:absolute;
	list-style: none;
}
/* rotator image style */	
	div.rotator ul li img {
	/*border:1px solid #ccc;
	padding: 4px;*/
	background: #FFF;
}
        div.rotator ul li.show {
	z-index:500;
}